html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}
.container > * {
  width: 70vw;
  margin: auto;
}
.btn {
  cursor: pointer;
  width: fit-content;
  background-color: white;
  outline: none;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  transition: 50ms ease;
}
.btn-primary {
  cursor: pointer;
  background-color: #00cdae;
  width: fit-content;
  text-decoration: none;
  color: white;
  padding: 0.2rem 0.5rem;
  border: none;
  transition: 50ms ease;
}
.btn:hover,
.btn:focus {
  border: 2px #00cdae solid;
  transform: scale(1.1);
}
.btn-primary:hover,
.btn-primary:focus {
  transform: scale(1.1);
}
.flex-btn {
  display: flex;
  gap: 0.5rem;
}

.flex-btn a {
  margin-left: auto;
}
.header {
  background-color: #00cdae;
  color: white;
  width: 100vw;
  padding: 2rem 0;
  height: 150px;
}
.header div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.header div p {
  margin-top: 0;
}
.header h1 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
main h3,
main > p {
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.flex-btn {
  margin-bottom: 2rem;
}
main form > * {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
}
main form > label {
  font-weight: bold;
}
main form > select,
main form > input[type="submit"] {
  width: 200px;
}
.housePicture {
  aspect-ratio: 2 /1.5;
  width: 250px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
.price {
  margin-bottom: 0;
}
.city {
  margin-top: 0;
}
.listedHouses {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  padding: 0;
  gap: 2rem;
}
.cardContent {
  padding: 1rem;
}
.houseCard {
  transition: 50ms linear;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.603);
}
.houseCard:focus,
.houseCard:hover {
  transform: scale(1.1);
}
